.name-text {
  font-family: 'Belleza', sans-serif;
  font-weight: 500;
}
.role-text {
  font-family: 'Source Sans Pro', sans-serif;
}
.nav-text {
  font-family: 'Source Sans Pro', sans-serif;
}

#headshot {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

